.episodeItemContainer {
  display: flex;
  flex-direction: column;
  width: 15rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  transition: background-color ease-in-out 0.3s;
  
  .episodeImage {
    width: 12.5rem;
    height: auto;
    border-radius: 10px;
    border: 2px solid white;
    box-sizing: content-box;
  }
  
  &:hover {
    background-color: var(--dark-blue);
  }
}